html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	overflow-y: auto;
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

.modal-backdrop{
	position: relative;
}
.modal{
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(38, 38, 38, 07);
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	/* margin: 0 0 0.5em 0; */
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	/* color: #999; */
	cursor: not-allowed;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


/* loader animation*/
@keyframes loader {
	0% { transform: translate(-50%,-50%) rotate(0deg); }
	100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.loader div {
	position: absolute;
	width: 50px;
	height: 50px;
	border: 2px solid #199aaf;
	border-top-color: transparent;
	border-radius: 50%;
}
.loader div {
	animation: loader 1s linear infinite;
	top: 50px;
	left: 50px
}
.loader-content {
	width: 100px;
	height: 100px;
	display: flex;
	margin: auto;
	overflow: hidden;
	background: rgba(255, 255, 255, 0);
}
.loader {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
}
.loader div { box-sizing: content-box; }

.small{
	width: 50px;
	height: 50px;
}
.small .loader div{
	top: 25px;
	left: 25px;
	width: 25px;
	height: 25px;
}